@page "/todo/{id:int}/edit"

@using DotNetBlazorEFCSQLExperimental.Client.Services;
@using DotNetBlazorEFCSQLExperimental.Shared;

@inject ITodoService TodoService; 

<PageTitle>Todo</PageTitle>

@if (todo == null)
{
    <span>Todo is loading...</span>
}
else
{
    <h3 class="mb-4">Edit Todo</h3>

    <TodoForm todo="@todo"/>
    <br />
}

@code {
    [Parameter]
    public int id { get; set; }

    Todo? todo;  

    protected override async Task OnInitializedAsync()
    {
        todo = await TodoService.GetTodo(id);
    }
}
