@page "/todo/{id:int}/edit"

@using DotNetBlazorEFCSQLExperimental.Client.Services;
@using DotNetBlazorEFCSQLExperimental.Shared;

@inject ITodoService TodoService; 

<PageTitle>Todo</PageTitle>

<div class="px-3">
    @if (todo == null)
    {
        <span>Todo is loading...</span>
    }
    else
    {
        <h3 class="mb-3 mt-2">Edit Todo</h3>

        <TodoForm todo="@todo" />
        <br />
    }
</div>

@code {
    [Parameter]
    public int id { get; set; }

    Todo? todo;  

    protected override async Task OnInitializedAsync()
    {
        todo = await TodoService.GetTodo(id);
    }
}
